.tablaPrecipitaciones{
    margin-top: 70px;
}

.knockout {
  background: url(../fotos/coma_misti.jpg) -80px -80px;
  color: red;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-weight: bold;
  font-size: 100px;
  font-family: arial, helvetica;
  width: 600px;
  margin:  auto;
  text-align: center;
}

body{
  background: #444;
}